*{
    font-family: 'Hi Melody', cursive;
}
h1{
    top: 10px;
    font-size: 60pt;
    color: gray;
    text-align: center;
}
a:link{
    color:gray;
}
#greet{
    text-align: center;
}
.grid{
    display: grid;
    grid-template-columns: 400px 1fr;
    
}
.img{
    margin-top: 50px;
    margin-left: 200px;   
}

.label{
    font-size: 20pt;
    padding: 35px;
    
}

.label_style{
    border-right: 3pt solid gray;

    }


.info{
    font-size: 25pt;
    margin-left: 400px;
}

.summary{   
    padding-top: 300px;
    text-align: center;
}